<div class="main-dash">
<!--Navigation Bar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <span class="navbar-brand">{{lang.title}}</span>
      </div>
      <ul class="nav navbar-nav">
          <li class="dropdown" dropdown>
              <a dropdownToggle role="button">
                {{lang.profile}} <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu pull-right">
                  <li><a (click)="openModal(driverModal)">{{lang.driver}} {{lang.list}}</a></li>
                  <li><a (click)="openModal(assignedListModal); refreshAssignedList();">{{lang.assigned}} {{lang.list}}</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" (click)="logout()">{{lang.logout}}</a></li>
              </ul>
          </li>
      </ul>
  </div>
</nav>
<!--MapView-->
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="9" [usePanning]="true" [streetViewControl]="false" #mapEvent>
  <agm-marker label="A" *ngFor="let loc of user.vehicleLocation" [latitude]="loc[0]" [longitude]="loc[1]" (mouseOver)="showInfo(infoWindow)">
    <agm-info-window [latitude]="loc[0]" [longitude]="loc[1]" [disableAutoPan]="false" #infoWindow>{{lang.vehicle}}: {{ user.nameMap[loc[2]] }}<br/>{{lang.driver}}: {{ user.vehicleDriver[loc[2]] }} <br/>{{lang.speed}}: {{loc[5]}} <br/>{{lang.time}}: {{loc[6]}} </agm-info-window>
  </agm-marker>
  <agm-direction [origin]="user.pathOrigin" [destination]="user.pathDest" [waypoints]="user.pathWaypoints" [visible]="visible">
  </agm-direction>
</agm-map>
<!--Select List-->
<div class="sidebar">
<div class = "container-fluid">
  <div class = "row row-height">
      <div id="vehicleDiv" class = "col-md-4 left">
          <ul class="list-group">
          <button class="list-group-item list-group-item-action" *ngFor="let ass of user.vehicleArr" (click)="currentItem=ass[0]; setLatLng();">{{ass[0]}}</button>
          </ul>
      </div>
  </div>
</div>
</div>
<!--Navbar bottom-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <button id="btn-add" type="button" class="btn btn-default btn-circle" (click)="openModal(add)"><i class="fa fa-user">{{lang.add}}</i></button>
  <button id="btn-assign" type="button" class="btn btn-default btn-circle" (click)="openModal(assign);"><i class="fa fa-user">{{lang.assign}}</i></button>
  <button id="btn-delete" type="button" class="btn btn-default btn-circle" (click)="currentCategory='Vehicle'; deleteItem();"><i class="fa fa-user">{{lang.del}}</i></button>
  <button id="btn-edit" type="button" class="btn btn-default btn-circle" (click)="openModal(editModal)"><i class="fa fa-user">{{lang.edit}}</i></button>
  <button id="btn-show" type="button" class="btn btn-default" (click)="showPath()"><i class="fa fa-user">{{lang.showpath}}</i></button>
  <button id="btn-hide" type="button" class="btn btn-default" (click)="hidePath()"><i class="fa fa-user">{{lang.hidepath}}</i></button>
  <button id="btn-modify" type="button" class="btn btn-default" (click)="refreshAssignedList(); openModal(modifyTrackModal);"><i class="fa fa-user">{{lang.modify}}</i></button>
  <button id="btn-cont-track" type="button" class="btn btn-default btn-toggle"><i class="fa fa-user">{{lang.continous}}  <input type="checkbox" id="switch"/><label for="switch" class="label-toggle" (click)="changeTrack(2,'secs')">Toggle</label>
  </i></button>
</nav>
<ng-template #add>
  <div class="modal-body">
    <form id="addform" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-3">
            <select class="form-control" #addSel>
              <option value="Driver">{{lang.driver}}</option> <option value="Vehicle">{{lang.vehicle}}</option>
            </select>
        </div>      <div class="col-md-9">
          <input type="text" class="form-control" name="icode" placeholder="{{lang.name}}" #addVal>
      </div>
    </div>
    <div class="form-group">                                    
      <div class="text-center">
          <button id="btn-otp" type="button" class="btn btn-success" (click)="addDorV(addSel,addVal)"><i class="icon-hand-right"></i> &nbsp;{{lang.confirm}}</button>
      </div>
    </div>
    </form>
  </div>
</ng-template>
<ng-template #assign>
    <div class="modal-body">
      <form id="assignform" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-3 control-label">{{lang.driver}}</label>
        <div class="col-md-9">
            <select class="form-control" #selDriver>
              <option *ngFor="let a of user.driverArr">{{a[0]}}</option>
            </select>
        </div>
      </div>
      <div class="form-group">
          <label class="col-md-3 control-label">{{lang.vehicle}}</label>
          <div class="col-md-9">
              <select class="form-control" #selVehicle>
                <option *ngFor="let a of user.vehicleArr">{{a[0]}}</option>
              </select>
          </div>
      </div>
      <div class="form-group">                                    
        <div class="text-center">
            <button id="btn-otp" type="button" class="btn btn-success" (click)="assignDV(selDriver,selVehicle)"><i class="icon-hand-right"></i> &nbsp;{{lang.confirm}}</button>
        </div>
      </div>
      </form>
    </div>
</ng-template>
<ng-template #driverModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{lang.driver}} {{lang.list}}</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  <div class="modal-body">
    <div class = "container-fluid">
      <div class = "row driver-modal">
          <div class = "col-md-4 left-modal">
              <ul class="list-group">
                  <button class="list-group-item list-group-item-action" *ngFor="let ass of user.driverArr" (click)="currentItem=ass[0]">{{ass[0]}}</button>
              </ul>
          </div>
      </div>
    </div>
    <div class="form-group">                                    
      <div class="text-center">
          <button id="btn-edit" type="button" class="btn btn-success" (click)="currentCategory='Driver'; openModal(editModal)"><i class="icon-hand-right"></i> &nbsp;{{lang.editc}}</button>
          <button id="btn-delete" type="button" class="btn btn-danger" (click)="currentCategory='Driver'; deleteItem();"><i class="icon-hand-right"></i> &nbsp;{{lang.deletec}}</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #assignedListModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{lang.assigned}} {{lang.list}}</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  <div class="modal-body">
    <div class = "container-fluid">
      <div class = "row driver-modal">
          <div class = "col-md-4 left-modal">
              <ul class="list-group">
              <button class="list-group-item list-group-item-action" *ngFor="let ass of user.assignedArr" (click)="currentItem=ass[0]">{{ass[0]}}</button>
              </ul>
          </div>
      </div>
    </div>
    <div class="form-group">
      <div class="text-center">
          <button id="btn-delete" type="button" class="btn btn-danger" (click)="unassignDV()"><i class="icon-hand-right"></i> &nbsp;{{lang.unassign}}</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #editModal>
  <div class="modal-body">
      <div class="form-group">
        <div class="col-md-9">
            <input type="text" class="form-control" name="icode" placeholder="Name" #editValue>
        </div>
      </div>
    <div class="form-group">                                    
      <div class="text-center">
          <button id="btn-delete" type="button" class="btn btn-success" (click)="editItem(editValue.value)"><i class="icon-hand-right"></i> &nbsp;{{lang.confirm}}</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modifyTrackModal>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-md-9">
        <input type="text" class="form-control" name="icode" placeholder="Number" #timeValue>
          <select class="form-control" #selTime>
            <option>{{lang.minute}}</option>
            <option>{{lang.hours}}</option>
          </select>
      </div>
    </div>
    <div class="form-group">                                    
      <div class="text-center">
          <button id="btn-delete" type="button" class="btn btn-success" (click)="changeTrack(timeValue.value,selTime.value); closeModal(modifyTrackModal);"><i class="icon-hand-right"></i> &nbsp;{{lang.confirm}}</button>
      </div>
    </div>
  </div>
</ng-template>
</div>